<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
<!-- CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">

<div class="container">
    <div class="row splash .drop-shadow" id="landing">
        <div class="col"></div>
        <div class="col-xs-12 col-lg-6">
            <img class="img-fluid" src="{% static 'home/headshot.jpg' %}">
            <h1 class="text-center">Canon Sawrey</h1>
            <h2 class="text-center">Software Engineer</h2>
            <h3 class="text-center">Boston, MA</h3>
        </div>
        <div class="col"></div>
    </div>

    <div class="row spacer"></div>

    <div class="row" id="about">
        <div class="col-sm-12 col-md-6 red-raised">
            <h2>Interests</h2>
            <p class="text-justify">
                The son of two engineers, from a young age I had an interest in Math, Science, and Engineering.
                I am now pursuing a degree in Computer Engineering and Computer Science at Northeastern University
                in Boston, Massachusetts. I have found a strong fit working as a software developer; it allows me
                to exercise personal strengths and is something I have a passion for. The accessibility of the
                developer ecosystem means I am often able to pursue anything that interests me.
            </p>
            <p class="text-justify">
                I have worked in a few different areas of software development. I have spent most of my time as
                a mobile developer, however I have also dabbled in web development and believe that the best
                engineers
                are well rounded. I enjoy working on the entire tech stack, and am currently working on a cross
                platform
                product I hope to release on web and both mobile platforms.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>Experience</h2>
            <p class="text-justify">
                I am currently employed at Rightpoint Consulting, working as Product Engineering Co-op. I am on the
                Android team of a mobile security project, primarily writing in Kotlin. I enjoy this role because it
                allows me to work on both front and back end components of the app, as well as see the code I'm
                writing
                directly reflected in the product. The biggest challenge I faced was joining the project six months
                after it had begun.
                It was my first time working with a codebase of that magnitude, and I felt a little lost for the
                first month or two.
                However, it was a valuable experience that taught me how to acclimate myself to a large piece of
                work I had not written.
            </p>
            <p class="text-justify">
                I spend a large portion of my time hacking on other projects outside of my professional and academic
                life. Check out some of my work through the link above.
            </p>
        </div>
    </div>

    <div class="row spacer"><br></div>

    <div class="row" id="contact">
        <div class="col-sm-12">
            <h2 class="text-center">Contact</h2>
            {% load crispy_forms_tags %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn" id="submit">Submit</button>
            </form>
        </div>
    </div>

    <br>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
{% endblock content %}

