<!DOCTYPE html>
<html lang="en">

{% load static %}



<html lang="en">
    <head>
        <title>Canon Sawrey Website</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'personal_website/base.css' %}">
        <!--Github and Linkedin icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Roboto Black Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <div>
                    <ul class="nav-list">
                        <!--Left aligned-->
                        <li class="left">
                            <a href="{% url 'home:home' %}">Canon Sawrey</a>
                        </li>
                        <li class="left">
                            <a class="nav-link" href="https://github.com/canonsawrey">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="left">
                            <a class="nav-link" href="https://linkedin.com/in/canon-sawrey-375b97159/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>

                        <!--Right aligned-->

                        <li class="right">
                            <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
                        </li>
                        <li class="right">
                            <a class="nav-link" href="{% url 'projects:index' %}">My Work</a>
                        </li>
                        <li class="right">
                            <a class="nav-link" href="{% url 'home:about' %}">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}
        {% endblock content %}
    </body>

    <footer>
        Last revised: Oct. 10, 2019
    </footer>
</html>
