{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'projects/style.css' %}">


{% block content %}
    <h1 class="center">{{ project.title }}</h1>
    {% if project.end_date %}
        <h6 class="center">{{ project.start_date }} - {{ project.end_date}}</h6>
    {% else %}
        <h6 class="center">{{ project.start_date }} - current</h6>
    {% endif %}
    <h3 class="center">{{ project.subtitle }}</h3>
    <h6 class="center">{{ project.abstract }}</h6>
    <body>
        <a  href="{{ project.github_link }}">
            Check it out on GitHub
        </a>
    </body>
{% endblock content %}


