{% extends "base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet"href="{% static 'projects/style.css' %}">
<div class="container">
    <div class="row" id="top-spacer"></div>
    <div class="row" >
        <div class="col-sm-6 title">
            <h1>{{ project.title }}</h1>
        </div>
        <div class="col-sm-6 subtitle">
            <h1><small>{{ project.subtitle }}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if project.end_date is None %}
                <h4 class="project-detail">{{ project.start_date }} - In Progress</h4>
            {% else %}
                <h4 class="project-detail">{{ project.start_date }} - {{ project.end_date }}</h4>
            {% endif %}
                <h4 class="project-detail">Goal: {{project.goal}}</h4>
                <p class="project-detail text-justify">{{ project.blurb }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ project.github_link }}">
                <h6 class="text-center github-link drop-shadow">Check it out on GitHub</h6>
            </a>
        </div>
    </div>

</div>
{% endblock content %}


