img {
    display: block;
    margin: auto;
    border-radius: 50%;
}

.row {
    padding: 75px;
    padding: 75px;
}

.splash {
    margin-top: 50px;
    background-color: #3c4245;
    color: white;
}

.spacer {
    background: #5f6769;
}

.light-body {
    background-color: white;
    color: black;
}

.dark-body {
    background-color: black;
    color: white;
}

.container-bg {
    background: red;
}

.drop-shadow {
    box-shadow: 0px 7px 5px #888888;
    z-index:999;
}