img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    }

#landing {
    background-color: #f00;
}

.splash {
    margin-top: 0;
    background-color: #5588a3;
}

.splash-text {
    margin: 0;
    padding-bottom: 30px;
    color: #e8e8e8;
    text-align: center;
}

.about {
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 80px;
}

.contact {
    border-above: solid 1px red;
    padding-top: 5px;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
    text-align:center;
}

.section-header {
    margin: 30px;
    padding: 0;
    text-align: center;
}

p {
    line-height: 1.5;
    text-indent: 30px;
}

p ul {
    list-style-type: disc;
    line-height: 1.5;
}

.p-link {
    text-decoration: none;
}

.p-link:hover {
    color: #e8e8e8;
    background-color: #5588a3;
}

.simple-message {
    width: 100%
    padding: 40px;
    text-align: center;
}

.form-field {
    height: 40px;
    padding: 30px;
    display: table-cell;
    width: 100%;
}

hr {
    width: 80%;
    background-color: #00334e;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
}

form ul {
    display: block;
}

form ul li {
    padding: 30px;
    width: 100%;
}

label {
   display: table-cell;
   width: 1px;

.row {
    background: #ff0000 !important;
}

h1 {
    color: #f00;
}